NEXT_PUBLIC_SUPABASE_URL=https://yaixeqyjvsxqlfmtfkrw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_dHzklGGdrNoZqwIphzVxAw_Xww_5QZT
SUPABASE_SERVICE_ROLE_KEY=sb_secret_T0kCaXaS0SHf9tQEeCHgMg_MwimCjMQ
ADMIN_PASSWORD=tipjen123
STORE_NAME=Tipjen
WHATSAPP_NUMBER=6283894403505
